<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.doubleclick.coinchaud">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name="com.doubleclick.coinchaud.App.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Menu"
        tools:targetApi="31">
        <activity
            android:name="com.doubleclick.coinchaud.SignUpActivity"
            android:exported="false" />
        <activity
            android:name="com.doubleclick.coinchaud.SeeMenuActivity"
            android:exported="false" />
        <activity
            android:name="com.doubleclick.coinchaud.AddNewMenuItemActivity"
            android:exported="false" />
        <activity
            android:name="com.doubleclick.coinchaud.AddNewDishActivity"
            android:exported="false" />
        <activity
            android:name="com.doubleclick.coinchaud.AddPersonActivity"
            android:exported="false" />
        <activity
            android:name="com.doubleclick.coinchaud.MenuActivity"
            android:exported="false" />
        <activity
            android:name="com.doubleclick.coinchaud.ProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.doubleclick.coinchaud.FoodActivity"
            android:exported="false" />
        <activity
            android:name="com.doubleclick.coinchaud.SignInActivity"
            android:exported="false" />
        <activity
            android:name="com.doubleclick.coinchaud.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- optional (needed if default theme has no action bar) -->
        <activity
            android:name="com.doubleclick.coinchaud.Views.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

    </application>

</manifest>